
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Success</title>
</head>
<body>
    <div class="container">
        <h1>Your Idea has been submitted successfully!</h1>
        <a href="/ideas/admin" class="view-ideas-button">View Submitted Ideas</a> <!-- Link to admin route -->
        <a href="/ideas/new" class="submit-button">Submit Another Idea</a> <!-- Link to submit another idea -->
    </div>
    <script src="/js/app.js"></script>
</body>
</html>